.App {
  color: white;
  background-color: #12355B;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.App-header {
  height: 15%;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  font-size: 3vw;
}

.App-bodywrapper {
   flex-grow: 1;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.subpage-main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.subpage-footer {
   width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.category-container {
   margin-top: 5%;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}

.category-box {
   margin: 5px;
   width: 16em;
   height: 13em;
}

button {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 15px;
  border: 3px solid white;
  color: white;
  font : inherit;
  background-color: transparent;
  -webkit-transition: background 0.1s ease;
}

button:hover {
   background-color: rgba(0,100,150,0.5)
}

button:focus {
   outline:0;
}

button:active {
   background-color: rgba(0,0,0,0.3)
}
